streamlit
pandas
numpy
plotly
reportlab
kaleido
spacy>=3.7.0,<3.8.0
scikit-learn
firebase-admin
requests
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl